<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <appSettings>
        <add key="appId" value="78de8fa021e64c828c5f6c2b6088c740" />
        <add key="apiKey" value="xie3vLC9kCUp6EOsXxP8WQtbaiDT/3MreP5Qd4mgKSU=" />
		<add key="searchJsonPayloadPath" value="E:\GetPayload.json"/>
		<add key="userLoginId" value="SSBApiAccount" />
        <add key="apiPath" value= "https://mm-uat.paradigmapps.com/RestApi/ApiCorp" />
    </appSettings>
</configuration>

